<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form onsubmit="return false;">
    <label for="userName">
        请输入用户名
    </label>
    <input id="userName" name="userName" type="text">
    <input type="text" name="message">
    <button type="button" onclick="createWebSocket(this.form.userName.value)">点击开始聊天</button>
    <br>
    <button type="button" onclick="sendMessage(this.form.userName.value, this.form.message.value)">发送消息</button>
    <h3>响应如下</h3>
    <textarea id="responseText" style="width: 500px; height: 300px"></textarea>
</form>

<script src="/js/jquery-2.2.0.js"></script>
<script type="text/javascript">
    var socket;
    if (window.WebSocket) {
        socket = new WebSocket("ws://localhost:20000/websocket")
        socket.onmessage = (event) => {
            let textarea = document.getElementById('responseText');
            textarea.value += event.data + "\n";
        }
        socket.onopen = (event) => {
            let textarea = document.getElementById('responseText');
            textarea.value = "打开WebSocket正常\n";
        }
        socket.onclose = (event) => {
            let textarea = document.getElementById('responseText');
            textarea.value += "关闭WebSocket\n";
        }
    }
    function createWebSocket(userName) {
        let obj = {
            sender: userName,
            type: 1,
            id:Math.round(Math.random() * 10000),
        };
        if (socket.readyState === WebSocket.OPEN) {
            socket.send(JSON.stringify(obj));
        }
    }
    function sendMessage(username , message) {
        let obj = {
            sender: username,
            type: 2,
            content: message,
            id:Math.round(Math.random() * 10000),
        };
        if (socket.readyState === WebSocket.OPEN) {
            socket.send(JSON.stringify(obj));
        }
    }

</script>
</body>
</html>
