<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<form>
    <label>
        账号：
        <input type="text" id="account" name="account">
    </label>
    <br>
    <label>
        密码：
        <input type="text" id="password" name="password">
    </label>
</form>
<button type="button" onclick="login()">登录</button>
<script src="/js/jquery-2.2.0.js"></script>
<script type="text/javascript">
    function login() {
        let obj = {
            account: document.getElementById('account').value,
            password: document.getElementById('password').value,
        }
        let postData = JSON.stringify(obj);
        $.ajax({
            method: "post",
            url: '/api/user/login',
            contentType: "application/json",
            dataType: "json",
            data: postData,
            success: function (data, status, xhr) {
                // window.location.href = '/'
                let headers = xhr.getAllResponseHeaders()
                let token = xhr.getResponseHeader(`token`)
                console.log(data)
                console.log(headers)
                sessionStorage.setItem('token', token);
                sessionStorage.setItem('uid', data.data.uid);
            }
        });
    }
</script>
</body>
</html>
